* text=auto eol=lf

*.cs linguist-language=C#
*.meta linguist-generated=true
*.unity linguist-generated=true
*.asset linguist-generated=true
*.shader linguist-vendored=true

AppCoreUnityProject/Assets/Sample/Settings/* linguist-generated=true
AppCoreUnityProject/Assets/Sample/TextMesh Pro/* linguist-generated=true
